@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BCIT Option Website</h1>
    <p class="lead">Register Or Login To Create Your Option Selection</p>
    <p>@Html.ActionLink("Create", "Create", "Choices")</p>
</div>

