@model DiplomaDataModel.Diploma.Choice
@{
    ViewBag.Title = "Fail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>You can only submit once per term</h1>
    </div>
</body>
</html>
